* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Century Gothic", Arial, Verdana;
}

.nav-superior {
  width: 100%;
  background-image: url(../assets/varios/nav-superior.png);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-collapse {
  background-image: url(../assets/varios/nav-inferior.png);
}

.navbar-collapse a {
  font-size: 12px;
  color: black;
}

@media (width< 720px) {
  .navbar-collapse a {
    font-size: 20px;
  }

  .slider img {
    width: 90%;
  }
}
